<a href="https://colab.research.google.com/github/yna2131/SemanaTec/blob/main/actividad05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Actividad - Librería Pandas**

*   **Nombre:** Yuna Chung
*   **Matrícula:** A01709043

In [1]:
import pandas as pd
import numpy as np

**Entregar:** Archivo PDF de la actividad, así como el archivo .ipynb en tu repositorio. **Nota:** Recuerda habrá una penalización de 50 puntos si la actividad fue entregada fuera de la fecha límite.

1.    Subir el archivo `netflix_titles.csv` que se encuentra en el repositorio de la clase y cargalos en un `Dataframe`.

In [3]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(name=fn, length=len(uploaded[fn])))

Saving netflix_titles.csv to netflix_titles (2).csv
User uploaded file "netflix_titles.csv" with length 3000491 bytes

In [4]:
df = pd.read_csv('netflix_titles.csv')

2.   Desplegar las primeras 5 líneas del `DataFrame`.

In [5]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

3.   Implementa una función que despliegue el primer renglón de un `DataFrame`.

In [6]:
def the_first(DataFrame):
  a = DataFrame[:1]
  return a

the_first(df)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...

4.   Implementa una función que regrese el número de registros en el `DataFrame`.

In [7]:
def row_number(DataFrame):
  n = len(DataFrame)
  return n

row_number(df)

7787

5.   Implementa una función que despliega las películas con un `release_year` determminado.

In [8]:
def released_year(year):
  date = df[df.release_year ==year]
  return date

year_query = 2020
released_year(year_query)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
24,s25,TV Show,​SAINT SEIYA: Knights of the Zodiac,NaN,"Bryson Baugus, Emily Neves, Blake Shepard, Pat...",Japan,"January 23, 2020",2020,TV-14,2 Seasons,"Anime Series, International TV Shows",Seiya and the Knights of the Zodiac rise again...
26,s27,TV Show,(Un)Well,NaN,NaN,United States,"August 12, 2020",2020,TV-MA,1 Season,Reality TV,This docuseries takes a deep dive into the luc...
27,s28,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",2020,TV-MA,99 min,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ..."
29,s30,TV Show,#blackAF,NaN,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,"April 17, 2020",2020,TV-MA,1 Season,TV Comedies,Kenya Barris and his family navigate relations...
...,...,...,...,...,...,...,...,...,...,...,...,...
7725,s7726,TV Show,You Cannot Hide,NaN,"Blanca Soto, Eduardo Noriega, Iván Sánchez, Ma...",Mexico,"October 1, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A nurse and her daughter flee her husband’s dr...
7734,s7735,Movie,You've Got This,Salvador Espinosa,"Mauricio Ochmann, Esmeralda Pimentel, Matteo G...",Mexico,"October 2, 2020",2020,TV-MA,112 min,"Comedies, International Movies, Romantic Movies",An ad creative and a successful exec have a gr...
7738,s7739,TV Show,Young Wallander,NaN,"Adam Pålsson, Richard Dillane, Leanne Best, El...",United Kingdom,"September 3, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","An incendiary hate crime stirs civil unrest, f..."
7741,s7742,Movie,Your Name Engraved Herein,Liu Kuang-hui,"Edward Chen, Tseng Ching-hua, Leon Dai, Jason ...",Taiwan,"December 23, 2020",2020,TV-MA,115 min,"Dramas, International Movies, LGBTQ Movies","In 1987, as martial law ends in Taiwan, Jia-ha..."
7744,s7745,Movie,"Yours Sincerely, Kanan Gill",Neville Shah,Kanan Gill,India,"April 24, 2020",2020,TV-MA,72 min,Stand-Up Comedy,Revisiting life goals set in a letter written ...

6.   Implementa una función que despliegue las películas que son de un país determinado.

In [9]:
def origin_country(country):
  origin = df[df.country == country]
  return origin

country_query = 'Mexico'
origin_country(country_query)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
12,s13,TV Show,1994,Diego Enrique Osorno,NaN,Mexico,"May 17, 2019",2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Archival video and new interviews examine Mexi...
292,s293,Movie,Acapulco La vida va,Alfonso Serrano Maturino,"Patricio Castillo, Sergio Bustamante, Alejandr...",Mexico,"June 3, 2017",2016,TV-MA,89 min,"Comedies, Dramas, International Movies",Three lifelong friends travel to Acapulco oste...
370,s371,Movie,Alan Saldaña: Mi vida de pobre,"Raúl Campos, Jan Suter",Alan Saldaña,Mexico,"August 4, 2017",2017,TV-MA,54 min,Stand-Up Comedy,Mexican comic Alan Saldaña has fun with everyt...
378,s379,Movie,Alex Fernández: The Best Comedian in the World,Alex Díaz,Alex Fernández,Mexico,"January 23, 2020",2020,TV-MA,51 min,Stand-Up Comedy,Comic Alex Fernández performs his familiar aut...
...,...,...,...,...,...,...,...,...,...,...,...,...
7698,s7699,TV Show,Yankee,NaN,"Pablo Lyle, Ana Layevska, Leonardo Daniel, Jav...",Mexico,"June 14, 2019",2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...","On the run from the police, an Arizona man cro..."
7725,s7726,TV Show,You Cannot Hide,NaN,"Blanca Soto, Eduardo Noriega, Iván Sánchez, Ma...",Mexico,"October 1, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A nurse and her daughter flee her husband’s dr...
7734,s7735,Movie,You've Got This,Salvador Espinosa,"Mauricio Ochmann, Esmeralda Pimentel, Matteo G...",Mexico,"October 2, 2020",2020,TV-MA,112 min,"Comedies, International Movies, Romantic Movies",An ad creative and a successful exec have a gr...
7773,s7774,Movie,Zoé: Panoramas,"Rodrigo Guardiola, Gabriel Cruz Rivas","Sergio Acosta, Jesús Báez, Ángel Mosqueda, Rod...",Mexico,"November 1, 2019",2016,TV-MA,89 min,"Documentaries, International Movies, Music & M...",This introspective rockumentary follows the ca...
7779,s7780,TV Show,Zona Rosa,NaN,"Manu NNa, Ana Julia Yeyé, Ray Contreras, Pablo...",Mexico,"November 26, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...

7.   Crea un nuevo `DataFrame` que sólo contenga las columnas `type`, `title`, `country` y `release_year`.

In [11]:
df2 = pd.DataFrame(columns=('Type','Title','Country','Release_year'))
df2

Empty DataFrame
Columns: [Type, Title, Country, Release_year]
Index: []

8.   Despliega, cuántos tipos de producciones (`type`) se hicieron por país determinado (`country`).

In [12]:
tipo = df.groupby(['type','country']).count()
tipo

                                                            show_id  title  \
type    country
Movie   Argentina                                                34     34
        Argentina, Brazil, France, Poland, Germany, Den...        1      1
        Argentina, Chile                                          1      1
        Argentina, Chile, Peru                                    1      1
        Argentina, France                                         1      1
...                                                             ...    ...
TV Show United States, South Korea, China                         2      2
        United States, Sweden                                     1      1
        United States, United Kingdom                             7      7
        United States, United Kingdom, Australia                  1      1
        Uruguay, Germany                                          1      1

                                                            director  cast  \
type    country
Movie   Argentina                                                 34    31
        Argentina, Brazil, France, Poland, Germany, Den...         1     1
        Argentina, Chile                                           1     1
        Argentina, Chile, Peru                                     1     1
        Argentina, France                                          1     1
...                                                              ...   ...
TV Show United States, South Korea, China                          0     2
        United States, Sweden                                      0     1
        United States, United Kingdom                              0     7
        United States, United Kingdom, Australia                   0     1
        Uruguay, Germany                                           0     0

                                                            date_added  \
type    country
Movie   Argentina                                                   34
        Argentina, Brazil, France, Poland, Germany, Den...           1
        Argentina, Chile                                             1
        Argentina, Chile, Peru                                       1
        Argentina, France                                            1
...                                                                ...
TV Show United States, South Korea, China                            2
        United States, Sweden                                        1
        United States, United Kingdom                                7
        United States, United Kingdom, Australia                     1
        Uruguay, Germany                                             1

                                                            release_year  \
type    country
Movie   Argentina                                                     34
        Argentina, Brazil, France, Poland, Germany, Den...             1
        Argentina, Chile                                               1
        Argentina, Chile, Peru                                         1
        Argentina, France                                              1
...                                                                  ...
TV Show United States, South Korea, China                              2
        United States, Sweden                                          1
        United States, United Kingdom                                  7
        United States, United Kingdom, Australia                       1
        Uruguay, Germany                                               1

                                                            rating  duration  \
type    country
Movie   Argentina                                               34        34
        Argentina, Brazil, France, Poland, Germany, Den...       1         1
        Argentina, Chile                                         1         1
        Argentina, Chile, Peru                                   1         1
        Argentina, France                                        1         1
...                                                            ...       ...
TV Show United States, South Korea, China                        2         2
        United States, Sweden                                    1         1
        United States, United Kingdom                            7         7
        United States, United Kingdom, Australia                 1         1
        Uruguay, Germany                                         1         1

                                                            listed_in  \
type    country
Movie   Argentina                                                  34
        Argentina, Brazil, France, Poland, Germany, Den...          1
        Argentina, Chile                                            1
        Argentina, Chile, Peru                                      1
        Argentina, France                                           1
...                                                               ...
TV Show United States, South Korea, China                           2
        United States, Sweden                                       1
        United States, United Kingdom                               7
        United States, United Kingdom, Australia                    1
        Uruguay, Germany                                            1

                                                            description
type    country
Movie   Argentina                                                    34
        Argentina, Brazil, France, Poland, Germany, Den...            1
        Argentina, Chile                                              1
        Argentina, Chile, Peru                                        1
        Argentina, France                                             1
...                                                                 ...
TV Show United States, South Korea, China                             2
        United States, Sweden                                         1
        United States, United Kingdom                                 7
        United States, United Kingdom, Australia                      1
        Uruguay, Germany                                              1

[773 rows x 10 columns]

9.   Implementa la función que genera el cuadrado de un número.

In [13]:
def square(x):
  cuadrado = x**2
  return cuadrado

10.   Usando el método `apply`, genera el cuadrado de todos los valores del siguiente `DataFrame`.

In [14]:
df2 = pd.DataFrame({'A': [1, 2, 3, 5, 6], 'B': [10, 20, 30, 40, 50]})
df2

   A   B
0  1  10
1  2  20
2  3  30
3  5  40
4  6  50